<!DOCTYPE html>
<html class="no-js">

<head>
  <% include partials/head %>
</head>

<body>
  <header>
      <% include partials/menu %>
  </header>
<br>
<br>
 
  <div>  
  <center>
      <h1>Menú CRUD</h1>
    <ul class="nav navbar-nav">
        <li>
          <a href="fruta">
            <h2>Fruta</h2>
          </a>
        </li>
        <li>
          <a href="pregunta">
            <h2>Pregunta</h2>
          </a>
        </li>
        <li>
          <a href="opcion">
            <h2>Opciones</h2>
          </a>
        </li>
        <li>
          <a href="categoria">
            <h2>Categoría</h2>
          </a>
        </li>
        <li>
          <a href="nivel">
            <h2>Nivel</h2>
          </a>
        </li>
    </ul>
  </center>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="./js/administrador-opcion.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/bootstrap.min.js"></script>

</body>

</html>